@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: #45de89;
  color: #fff;
}

html {
  font-size: 62.5%;
}

/*Margenes para los layouts de cada pagina  */
/*.general,
.kids,
.men,
.sneakers,
.signup,
.offers,
.dress,
.loginPage,
.newProduct {
  margin-top: 7.7rem;
}*/

.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  background: seashell;
}

/*.app {
  position: relative;
}*/

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}*/

.top {
  background: #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

nav.menu .links {
  color: white;
  text-decoration: none;
  display: block;
  padding: 3rem 4rem 3rem 4rem;
}

nav.menu .links:hover {
  background: #45de89;
  color: #555;
}

.top .navIcons {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  top: 4px;
}

.top .cartIcon {
  position: relative;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.top .cartIcon .cartCounter {
  position: absolute;
  top: -8px;
  right: -6px;
  padding: 2px 6px;
  background-color: #45de89;
  border-radius: 100%;
  font-size: 1.4rem;
  text-align: center;
}

.top .userIcon {
  color: white;
  margin-right: 3rem;
  cursor: pointer;
  font-size: 2.5rem;
}

.loginConteiner {
  position: relative;
}

.loginImg {
  height: 110%;
  width: 100%;
}
.userIcon {
  text-align: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.loggedinImg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.loginMenu {
  position: absolute;
  background-color: #e7f1ec;
  text-align: center;
  top: 54px;
  right: 10%;
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.loginMenu .newProductLink,
.loginLink,
span.logOut {
  color: #ce252d;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

/*Aqui terminan los estilos  del TOP "el menu" *
/
/*Aqui empieza el HERO AREA */

.hero {
  width: 100%;
  color: #555;
}

.hero h1 {
  font-size: 5rem;
  margin: 4rem 0 1rem 20rem;
}
span.titulo-dest {
  color: rgb(206, 37, 45);
}

.hero p {
  font-size: 2rem;
  margin-left: 20rem;
  margin-top: 2rem;
}

.hero button {
  border: solid 0;
  color: white;
  background: #555;
  padding: 1rem 3rem;
  cursor: pointer;
  margin: 8rem 0 12rem 20rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
}

.hero button:hover {
  background: rgb(206, 37, 45);
  border: solid 0;
  color: #fff;
}

header {
  /*margin-top: 7.7rem;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(./images/Prod1.png), #f3ddd3;
  background-size: 850px auto;
  background-repeat: no-repeat;
  background-position: 120% -200%;
  clip-path: polygon(30vh 0, 100% 0, 100% 80vh, 0 100%);
}

.socialbts {
  font-size: 4rem;
  margin-left: 20rem;
  margin-bottom: 5rem;
}

.socialbts .i {
  margin-right: 2rem;
  transition: 0.3s;
}
.socialbts .i:hover {
  cursor: pointer;
  color: #ce252d;
  margin-right: 2rem;
}

/*Termina el HERO AREA*/

/*estilos de la parte principal*/

main.general {
  display: flex;
  width: 100%;
}

/*Estilos del lado  izquierdo del main */

.Lmainconteiner {
  display: flex;
  justify-content: center;
}

.leftside-content {
  display: flex;
  flex-direction: column;
  width: 180px;
  border-radius: 6px;
  height: auto;
  margin-top: 10rem;
  background-color: #f3ddd3;
  margin-left: 4rem;
}

.leftside-content div.left-title {
  border-radius: 6px 6px 0 0;
  padding: 1.5rem 0;
  background-color: #555;
  width: 100%;
  text-align: center;
  color: #f3ddd3;
  font: normal normal 1.3rem Poppins;
}

.left-side-menu {
  width: 100%;
}

.left-side-menu .leftLinks {
  display: block;
  text-decoration: none;
  text-align: center;
  font: normal bold 1.6rem Poppins;
  padding: 2rem 0;
  color: #555;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.15s;
}

.left-side-menu .leftLinks:hover {
  background-color: #ce252d;
  color: white;
  font: normal bold 2.5rem Poppins;
}

/*estilos del lado derecho*/

.Rmainconteiner {
  display: flex;
  flex-direction: column;
}

/*Aqui termina la cabecera  lado derecho */

/*Aqui empieza  la seccion oferta de prodctos  */

/*NUEVA MERCANCIA PRODUCTS CARD*/

.productsCard {
  min-width: 200px;
  max-width: 150px;
  min-height: 150px;
  padding: 5px;
  background-color: #e7f1ec;
}

.productsCard:hover {
  box-shadow: 0px 2px 16px 0px rgba(69, 222, 137, 0.7);
}

.newMerchandise {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 8rem;
  margin: 3rem 0;
  align-items: center;
}
.sigleCard {
  padding: 1rem;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.17);
  background-color: white;
}

.cardTitle {
  text-align: center;
  font: normal bold 1.5rem Poppins;
  margin: 10px 0 0 0;
}

.cardPrice {
  text-align: center;
  font: normal bold 1.3rem Poppins;
}

.addBtn {
  border-radius: 0.3rem;
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #45de89;
  width: 100%;
  cursor: pointer;
  color: black;
  font: normal bold 1.2rem Poppins;
  transform: scale(0.9);
  transition: 0.2s;
}

.addBtn:hover {
  transform: scale(1);
}

.productTitle {
  color: #555;
  font-size: 2.3rem;
  margin: 2rem 0 0rem 7.5rem;
}

.productTitle span {
  border-bottom: solid 5px #ce252d;
  padding-bottom: 0.4rem;
}

.cardDescription {
  font: normal bold 1.2rem Poppins;
  text-align: center;
}

.merchandiseImage {
  height: 100%;
  width: 100%;
}

.loadingData {
  margin: 30% 0;
  text-align: center;
  font: normal normal 1.6rem Poppins;
}
/**/
span.dollarSign {
  font: normal bold 1.3rem Poppins;
  color: #ce252d; padding-right: .1rem;
}

.productos {
  padding-top: 5rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.productos .productTitle {
  color: #555;
  font-size: 2.3rem;
  margin: 2rem 0 0rem 7.5rem;
}

.productos .productTitle span {
  border-bottom: solid 5px #ce252d;
  padding-bottom: 0.4rem;
}

.productos .product-row1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.productos .product-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.productos .product-row3 {
  display: flex;
  justify-content: space-around;
}

.stars {
  color: #e4e706;
  margin: 0.7rem 0;
  font-size: 1.5rem;
}
.product-name {
  color: #555;
  margin: 0.7rem 0;
  font-size: 1.5rem;
}
.price {
  color: #555;
  margin: 0.7rem 0;
  font-size: 1.5rem;
}

/*Aqui terminan los estilos del area de productos*/

/*Aqui empieza los estilos del Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #ce252d;
}

footer ul {
  list-style-type: none;
  margin-bottom: 10rem;
}
footer ul li {
  margin-bottom: 1.5rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
footer h6 {
  font-size: 2.5rem;
  margin: 5rem 0;
}
footer .row-footer {
  font: normal normal 1.5rem Poppins;
}

footer ul li a:hover {
  text-decoration: none;
  color: #45de89;
}
